
body {
    background-color: rgb(14, 8, 10);
}
.score-element {
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    margin: 15px;
}
h2 {
    font-family: monospace;
    padding-left:30px;
}
#tetris {
    display: block;
    margin: 0 auto;
    border: 2px solid pink;
}

#second-canvas {
    display: block;
    margin: 0 auto;

}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('./images/gif-18.gif'); 
    background-size: 450px;
    margin: 5px 500px;
    border: 3px solid rgb(0, 52, 77);
}

#second-section {  
    margin: 50px 30px 200px 30px;
    flex-direction: row;
    justify-items: end;
    font-family: monospace; 
    border: 3px solid pink;
    color: rgb(238, 232, 232);
    background-color: palevioletred;
}

#first-section {
    margin: 50px 30px 50px 30px;

}

.score-element > div{
    display: inline-block;
}

h2 {
    color: white;
    opacity: 0.7;
}

#subcontainer {
    display: flex;
    flex-direction: column-reverse;
} 
@media screen and (max-device-width: 700px) {
    #container {min-width: 300px}
}

@media screen and (max-device-width: 2000px) {
    #container {width: 600px}
}